* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#new-profile-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* START OF HEADER */

#main-logo {
  height: 200px;
  width: 200px;
  background-color: none;
}

#header-main {
  display: flex;
  justify-content: center;
  max-height: 200px;
}
/* ENDOF HEADER */

/* USERPAGE STYLES START */

#userpage-content {
  display: flex;
  flex-grow: 1;
  /* justify-content: space-between; */
}

#username-separator {
  border-right: 2px solid rgb(0, 105, 234, 1);
}

#userpage-children {
  justify-self: center;
}

/* USERPAGE STYLES END */

/* POST CONTAINER */
#post-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: 1px solid black;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#post-container :nth-child(1) {
  background-color: rgb(154, 154, 154);
  padding: 5px;
  max-height: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#post-container :nth-child(2) {
  background-color: rgb(231, 231, 231);
  padding: 5px;
  flex-grow: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* @import "@radix-ui/colors/violet.css"; */

/* SEPARATOR STYLES START */
.SeparatorRoot {
  /* background-color: var(--violet-6); */
  background-color: rgb(0, 105, 234, 1);
}
.SeparatorRoot[data-orientation="horizontal"] {
  height: 2px;
  width: 100%;
}
.SeparatorRoot[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}

.Text {
  color: black;
  font-size: 15px;
  line-height: 20px;
}

/* SEPARATOR STYLES END */
