* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#new-profile-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* POST CONTAINER */
#post-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: 1px solid black;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

#post-container :nth-child(1) {
  background-color: rgb(154, 154, 154);
  padding: 5px;
  max-height: 2rem;
}

#post-container :nth-child(2) {
  background-color: rgb(231, 231, 231);
  padding: 5px;
  flex-grow: 1;
}
